.breakAnt {
    flex: 0 0 32px !important;
    max-width: 32px !important;
    min-width: 32px !important;
    width: 32px !important;
}

/* .iconforn {
    text-align: center;
} */

.ant-menu-inline-collapsed>.ant-menu-item,
.ant-menu-inline-collapsed>.ant-menu-item-group>.ant-menu-item-group-list>.ant-menu-item,
.ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title {
    padding: 0 !important;
}

.inline-collapsed1 {
    padding: 0 !important;
}