body.html {
  width: 100%;
  height: 100%;
  background: #ccc;
}

#alis_lunbo {
  width: 100%;
  background: #fff;
  height: 522px;
  margin-right: -100%;
}

#alis_lunbo .alis_atg {
  width: 1220px;
  margin: auto;
  height: 100%;
  position: relative;
}

#alis_lunbo .alis_atg #alis_lunbotu {
  position: absolute;
  top: 8px;
  height: 360px;
  width: 927px;
  overflow: hidden;
}

#alis_lunbo .alis_atg .atg_right {
  position: absolute;
  right: 0px;
  top: 8px;
  margin-left: 5px;
}

#alis_lunbo .alis_atg .atg_bottom {
  position: absolute;
  bottom: 8px;
  margin-top: 5px;
  display: flex;
}

#alis_jump {
  width: 100%;
  background: #fff;
}

#alis_jump #btn {
  width: 1220px;
  margin: auto;
  display: flex;
  line-height: 40px;
  font-size: 14px;
}

#alis_jump #btn li {
  padding: 0 20px;
  background: url(../img/nz_08.jpg) no-repeat left center;
}

#alis_jump #btn .active {
  color: red;
}

#alis_jump #lou {
  background: #f3f3f3;
  width: 100%;
}

#alis_jump #lou li {
  width: 1220px;
  margin: auto;
}

#alis_jump #lou li .jump_mzsx {
  width: 100%;
  position: relative;
  height: 42px;
  background: url(../img/nz_09.jpg) no-repeat left center;
}

#alis_jump #lou li .jump_mzsx h2 {
  text-align: center;
  line-height: 42px;
}

#alis_jump #lou li .jump_mzsx i {
  position: absolute;
  top: 13px;
  right: 18px;
  width: 90px;
  height: 20px;
  border-radius: 9px;
  font-size: 12px;
  background: #f1220e;
  text-align: center;
  color: #fff;
  line-height: 18px;
}

#alis_jump #lou li .jump_sp {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#alis_jump #lou li .jump_sp li {
  width: 218px;
  height: 330px;
  background: #fff;
  margin-bottom: 6px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#alis_jump #lou li .jump_sp li img {
  width: 218px;
  height: 218px;
}

#alis_jump #lou li .jump_sp li p {
  font-size: 14px;
}

#alis_jump #lou li .jump_sp li .jump_sp_dp {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#alis_jump #lou li .jump_sp li .jump_sp_jg {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  line-height: 24px;
  height: 24px;
  font-size: 12px;
}

#alis_jump #lou li .jump_sp li .jump_sp_jg span {
  color: red;
}

#alis_jump #lou li .jump_sp li .jump_sp_jg i {
  padding: 0 10px;
  background: #f3210a;
  color: #fff;
}

#alis_jump #lou li .jump_sp .gaoliang {
  box-shadow: #000 0 0 10px;
}

#page {
  margin: 20px auto;
  color: #666;
  display: block;
  text-align: center;
}

#page li {
  display: inline-block;
  min-width: 30px;
  height: 28px;
  cursor: pointer;
  color: #666;
  font-size: 13px;
  line-height: 28px;
  background-color: #f9f9f9;
  border: 1px solid #dce0e0;
  text-align: center;
  margin: 0 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.xl-nextPage,
.xl-prevPage {
  width: 60px;
  color: #0073A9;
  height: 28px;
}

#page li.xl-disabled {
  opacity: .5;
  cursor: no-drop;
}

#page li.xl-active {
  background-color: #0073A9;
  border-color: #0073A9;
  color: #FFF;
}
