#head {
  width: 1220px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
}

#head .head_logo {
  width: 210px;
}

#head .head_logo img {
  margin: 8px 50px 0px 0px;
}

#head .head_inp {
  width: 508px;
  margin-right: 62px;
}

#head .head_inp .inp_search {
  width: 100%;
  position: relative;
}

#head .head_inp .inp_search .inp_chaxun {
  width: calc(100% - 37px);
  border-radius: 10px;
  border: 1px solid #d8ddd7;
  line-height: 33px;
  padding-left: 35px;
}

#head .head_inp .inp_search .camera {
  position: absolute;
  top: 25%;
  left: 10px;
}

#head .head_inp .inp_search .inp_btn {
  position: absolute;
  top: 0;
  right: 0;
}

#head .head_inp .inp_text {
  margin: 4px;
  line-height: 20px;
  font-size: 14px;
  color: #808080;
  height: 20px;
}

#head .head_inp .inp_text li {
  margin-right: 17px;
  float: left;
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#head .head_inp .inp_text li a {
  color: #b5aeae;
}

#head .head_much {
  margin-top: 4px;
}

#head .head_much .much_img {
  width: 260px;
  display: flex;
  justify-content: space-between;
}
