#xq_main {
  width: 1220px;
  margin: auto;
}

#xq_main h1 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

#xq_main p {
  color: #aa1800;
  font-size: 12px;
}

#xq_main .main_tao {
  display: flex;
  font-size: 12px;
  justify-content: center;
  margin-left: 310px;
}

#xq_main .xq_fangdajing {
  width: 966px;
  border: 1px solid #ccc;
  box-shadow: #000 0 0 10px;
  display: flex;
  justify-content: center;
}

#xq_main .xq_fangdajing .xq_xinxi {
  width: 526px;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_yun {
  height: 94px;
  display: flex;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_yun em {
  background: #a81313;
  color: #fff;
  height: 100%;
  width: 70px;
  line-height: 94px;
  text-align: center;
  display: block;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_yun .yun_1 {
  flex: 1;
  background: #da3333;
  height: 94px;
  padding-left: 20px;
  color: #fff;
  position: relative;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_yun .yun_1 p {
  text-align: right;
  color: #fff;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_yun .yun_1 .jiage {
  font-size: 26px;
  position: absolute;
  bottom: 10px;
  left: 0;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_yun .yun_1 i {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  left: 85px;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing {
  width: 486px;
  padding: 20px;
  height: 432px;
  border-left: 1px solid #ccc;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_1 {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ccc;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_1 .baokuan {
  display: flex;
  flex-direction: column;
  color: #000;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_1 .baokuan img {
  width: 80px;
  height: 23px;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_1 .baokuan i {
  font-size: 12px;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_1 .baokuan span {
  color: #ff7300;
  font-weight: bold;
  font-size: 16px;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_1 p {
  margin-top: 10px;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_1 p span {
  color: #ff7300;
  font-weight: bold;
  font-size: 16px;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_1 p b {
  padding: 5px;
  background: #c3b5b5;
  color: #000;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_1 input {
  width: 118px;
  height: 26px;
  color: #fff;
  text-align: center;
  display: block;
  background: #ff7f14;
  line-height: 26px;
  position: absolute;
  right: 0px;
  bottom: 10px;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_2 {
  border-bottom: 1px dotted #ccc;
  height: 65px;
  display: flex;
  align-items: center;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_2 span {
  width: 100px;
  height: 28px;
  margin-right: 10px;
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_2 span:nth-child(1) {
  background: url(../img/upprotipw_15.jpg);
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_2 span:nth-child(2) {
  background: url(../img/upprotipw_11.jpg);
  padding-left: 5px;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_2 span:nth-child(3) {
  background: url(../img/upprotipw_13.jpg);
  padding-left: 5px;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_3 {
  margin-top: 5px;
  position: relative;
  margin-bottom: 5px;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_3 span {
  font-size: 12px;
  margin-left: 14px;
  border: 1px solid #ccc;
  padding: 2px 8px;
  line-height: 20px;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_3 .gaoliang {
  border: 2px solid #e02b2b;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_3 .jiajian {
  width: 100%;
  margin-top: 10px;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_3 .jiajian em {
  font-size: 12px;
  font-weight: bold;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_3 .jiajian b {
  font-size: 12px;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_3 .jiajian i {
  font-size: 12px;
  margin-left: 10px;
  font-weight: bold;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_3 .jiajian .xq_main_3_jia {
  display: flex;
  position: absolute;
  top: 23px;
  right: 100px;
  border-bottom: 1px solid #ccc;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_3 .jiajian .xq_main_3_jia h5 {
  width: 28px;
  height: 28px;
  border: 1px solid #ccc;
  background: #867b7b;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_3 .jiajian .xq_main_3_jia .shu {
  height: 28px;
  width: 45px;
  border: 1px solid #ccc;
  padding-left: 5px;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_4 {
  width: 100%;
  height: auto;
  display: none;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_4 .main_4color {
  display: flex;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_4 .main_4color span {
  text-align: center;
  line-height: 52px;
  border: 1px solid #ccc;
  background: #7caed6;
  width: 100px;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_4 .main_4color p {
  line-height: 52px;
  border: 1px solid #ccc;
  background: #7caed6;
  font-size: 14px;
  color: #000;
  padding-left: 10px;
  flex: 1;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_5 {
  border-top: 1px solid #ccc;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_5 p {
  color: red;
  font-size: 12px;
  margin-top: 10px;
  font-weight: bold;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_5 p span {
  font-size: 20px;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_5 p i {
  font-size: 22px;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_5 p a {
  margin-left: 5px;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_5 h4 {
  width: 187px;
  height: 48px;
  display: block;
  text-align: center;
  line-height: 48px;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_5 .xq_main_5_btn {
  display: flex;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_5 .xq_main_5_btn .xiadian {
  background: #ca2525;
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
}

#xq_main .xq_fangdajing .xq_xinxi .xq_xiangqing .xq_main_5 .xq_main_5_btn .jinhuo {
  background: #f2968d;
  cursor: pointer;
}

.xq_sj {
  width: 227px;
  height: 570px;
  float: right;
  border: 1px solid #ccc;
  position: absolute;
  right: 7%;
  top: 36%;
}

.xq_sj h2 {
  line-height: 28px;
  width: 203;
  font-size: 14px;
  font-weight: bold;
  background: #a59b9b;
  padding-left: 24px;
}

.xq_sj .xq_sjxi {
  padding: 22px 24px 0px;
  border-bottom: 1px solid #ccc;
}

.xq_sj .xq_sjxi p {
  font-size: 14px;
  color: #4e56c7;
}

.xq_sj .xq_sjxi span {
  font-size: 12px;
  color: #666;
}

.xq_sj .xq_sjxi i {
  font-size: 12px;
  color: #666;
}

.xq_sj .xq_sjxi em {
  cursor: pointer;
  width: 120px;
  color: #fff;
  background: red;
  line-height: 28px;
  text-align: center;
  height: 30px;
  padding: 0px 10px;
  display: block;
  margin: 10px auto;
}

.xq_sj .xq_klyk {
  padding: 22px 24px 0px;
}

.xq_sj .xq_klyk h3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
}

.xq_sj .xq_klyk ul {
  display: flex;
  flex-wrap: wrap;
}

.xq_sj .xq_klyk ul li {
  width: 50%;
  height: 100px;
  text-align: center;
}

.xq_sj .xq_klyk ul li span {
  font-size: 14px;
  font-weight: bold;
  color: red;
}

#xq_can {
  width: 1220px;
  margin: auto;
  margin-top: 50px;
  display: flex;
}

#xq_can .home_xxk_2 {
  width: 237px;
  margin-right: 8px;
  background: #fff;
  border: 1px solid #dbdbdb;
}

#xq_can .home_xxk_2 .xxk_top {
  height: 37px;
  width: 100%;
  position: relative;
  background: #d61e00;
  color: #fff;
}

#xq_can .home_xxk_2 .xxk_top h5 {
  font-size: 16px;
  font-weight: bold;
  line-height: 37px;
  margin-left: 16px;
}

#xq_can .home_xxk_2 .xxk_bian {
  width: calc(100% - 20px);
  border-top: none;
  padding-left: 10px;
  font-size: 12px;
  line-height: 23px;
  overflow: hidden;
}

#xq_can .home_xxk_2 .xxk_bian li {
  cursor: pointer;
  border-bottom: 1px solid #dbdbdb;
}

#xq_can .home_xxk_2 .xxk_bian li dl {
  display: flex;
  height: 90px;
  align-items: center;
}

#xq_can .home_xxk_2 .xxk_bian li dl dd {
  padding: 10px;
  width: 120px;
  margin-left: 10px;
  height: 80px;
}

#xq_can .home_xxk_2 .xxk_bian li dl dd h6 {
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  font-weight: bold;
}

#xq_can .home_xxk_2 .xxk_bian li dl dd p {
  color: red;
  font-size: 12px;
}

#xq_can .home_xxk_2:nth-child(3) .xxk_top {
  background: #fff;
  color: #000;
  border-bottom: 1px solid #ccc;
}

#xq_can .home_xxk_2:nth-child(3) .xxk_bian {
  width: calc(100% - 20px);
  max-height: 1000px;
}

#xq_can .home_xxk_2:nth-child(3) .xxk_bian li {
  height: 250px;
}

#xq_can .home_xxk_2:nth-child(3) .xxk_bian li dl {
  padding: 20px;
  display: block;
}

#xq_can .home_xxk_2:nth-child(3) .xxk_bian li dl dd {
  margin: 0;
  padding: 0;
  height: auto;
  width: 170px;
}

#xq_can .home_xxk_2:nth-child(3) .xxk_bian li dl img {
  width: 177px;
  height: 177px;
}

#xq_can .home_xxk_2:nth-child(3) .xxk_bian li dl p {
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #000;
}

#xq_can .home_xxk_2:nth-child(3) .xxk_bian li dl i {
  color: #d61e00;
  font-size: 14px;
  font-weight: bold;
}

#xq_can .xq_tuijian {
  margin-bottom: 20px;
  height: 272px;
  width: 968px;
  border: 1px solid #e5e5e5;
  background: #fff;
  border-top: 2px solid #999;
}

#xq_can .xq_tuijian h3 {
  font-weight: bold;
  font-size: 14px;
  color: #333;
  border-top: 3px solid #d61e00;
}

#xq_can .xq_tuijian .xq_huo {
  display: flex;
}

#xq_can .xq_tuijian .xq_huo dl {
  padding: 20px;
}

#xq_can .xq_tuijian .xq_huo dl p {
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}

#xq_can .xq_tuijian .xq_huo dl span {
  font-size: 14px;
}

#xq_can .xq_xxk {
  width: 968px;
  height: 44px;
  border: 1px solid #ccc;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

#xq_can .xq_xxk .xxk_left {
  display: flex;
}

#xq_can .xq_xxk .xxk_right {
  display: flex;
}

#xq_can .xq_xxk .xxk_right span {
  background: #d61e00;
  color: #fff;
}

#xq_can .xq_xxk .xxk_right span:nth-child(2) {
  background: #f2968d;
  color: #666;
}

#xq_can .xq_xxk span {
  font-size: 14px;
  font-weight: bold;
  line-height: 44px;
  border-right: 1px solid #ccc;
  height: 42px;
  padding: 0px 30px;
  display: inline-block;
  background: #f8f8f8;
}

#xq_can .xq_xxk .biankuang {
  border-top: 2px solid #d61e00;
  color: #d61e00;
  background: #fff;
  display: inline-block;
}

#xq_can .xq_gu {
  position: fixed;
  background: #fff;
  top: 0;
  z-index: 1;
}

#xq_can .xq_neirong {
  width: 968px;
  height: auto;
}

#xq_can .xq_neirong .xq_bian {
  display: none;
  width: 966px;
  height: auto;
  border: 1px solid #ccc;
  border-top: none;
}

#xq_can .xq_neirong .xq_bian .chengruo {
  width: 718px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#xq_can .xq_neirong .xq_bian .chengruo h3 {
  background: #d71e00;
  height: 34px;
  line-height: 34px;
  padding-left: 32px;
  color: #fff;
  font-size: 14px;
}

#xq_can .xq_neirong .xq_bian .chengruo h4 {
  background: url(../img/fwbzbg.jpg) no-repeat left center;
  height: 15px;
  line-height: 15px;
  padding-left: 32px;
  color: #666;
  font-size: 14px;
  margin: 22px 0px 20px;
}

#xq_can .xq_neirong .xq_bian .chengruo p {
  line-height: 21px;
  padding-left: 32px;
  padding-bottom: 13px;
  font-size: 14px;
}

#xq_can .xq_neirong .xq_bian .chengruo h5 {
  color: #000;
  font-size: 12px;
  padding-left: 32px;
  font-weight: bold;
}

#xq_can .xq_neirong .xq_bian .chengruo img {
  padding-left: 32px;
  width: 600px;
}

#xq_can .xq_neirong .xq_bian ul li {
  border-bottom: 1px solid #ccc;
  width: 521px;
}

#xq_can .xq_neirong .xq_bian ul li span {
  text-align: center;
  line-height: 28px;
  width: 187px;
  font-size: 12px;
  display: inline-block;
}

#xq_can .xq_neirong .xq_bian ul li span:nth-child(1) {
  width: 141px;
  padding-left: 10px;
}
