html,body {
    width: 100%;
    height: 100%;
}
#homebox{
    height: 628px;
    /* display: flex; */
}
p{
    font-size: 12px;
}
.diy-troika {
    /* overflow: hidden; */
    margin-top: 20px;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
}
#go_troika-diy-troika wrapper monitor{
    width: 1200px;
    height: 458px;
}
.diy-troika .troika-list {
    float: left;
    width: 393px;
    background: #fff;
}
.margin-right {
    margin-right: 10px;
}
.diy-troika .troika-body {
    padding: 10px;
    overflow: hidden;
}
.right {
    float: right;
}
.left {
    float: left;
}
.diy-troika .troika-body .left {
    border-right: 1px dashed #d6d6d6;
}
.diy-troika .troika-body .big-img {
    border-bottom: 1px dashed #d6d6d6;
    width: 186px;
    height: 253px;
}
.diy-troika .troika-body a {
    display: block;
    position: relative;
    color: #555;
}
.diy-troika .troika-body .big-img {
    border-bottom: 1px dashed #d6d6d6;
    width: 186px;
    height: 253px;
}
.diy-troika .troika-body .big-img img {
    position: absolute;
    bottom: 0;
    left: 13px;
}

/* .diy-troika .troika-body a {
    display: block;
    position: relative;
    color: #555;
    width: 186px;
    height: 126px;
} */
.anim-left {
    overflow: hidden;
    position: relative;
}
.diy-tip {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 10px;
    line-height: 18px;
    width: 170px;
}
.diy-tip h3 {
    font-size: 16px;
    padding-bottom: 8px;
    font-weight: normal;
}
.diy-troika .troika-body a img {
    position: absolute;
    right: 0;
    bottom: 0;
}
.diy-troika .troika-body a {
    display: block;
    position: relative;
    color: #555;
    width: 186px;
    height: 126px;
}

.relative {
    position: relative;
}
.diy-shouhou .sh-tip {
    position: absolute;
    right: 0;
    top: 0;
    width: 375px;
    height: 160px;
}