.footer {
  margin-top: 30px;
  background: #fff;
  position: relative;
  z-index: 2;
}
.promise {
  height: 110px;
  width: 1200px;
  margin: 0 auto;
}
.promise a {
  width: 220px;
  float: left;
  margin-top: 30px;
  margin-left: 20px;
  text-decoration: none;
}
.promise dl {
  width: 220px;
}
.promise dl dt {
  width: 50px;
  height: 50px;
  float: left;
  background: url(../img/icon.png) no-repeat;
}
.promise dl dt.p0 {
  background-position: 0 -232px;
}
.promise dl dt.p1 {
  background-position: -50px -232px;
}
.promise dl dt.p2 {
  background-position: -100px -232px;
}
.promise dl dt.p3 {
  background-position: -150px -232px;
}
.promise dl dt.p4 {
  background-position: 0 -282px;
}
.promise dl dd {
  margin-left: 60px;
  font-family: "Microsoft YaHei";
}
.promise dl dd h4 {
  font-size: 20px;
  font-weight: normal;
  color: #333;
}
.promise dl dd h4:hover{
  color: #9c9c9c;
}
.promise dl dd p {
  color: #9c9c9c;
  font-size: 12px;
}
.foot-help {
  border-top: solid 1px #eee;
  height: 160px;
  width: 1200px;
  margin: 0 auto;
}
.foot-help dl {
  float: left;
  height: 110px;
  width: 180px;
  padding-top: 30px;
}
.foot-help dl dt {
  font-size: 14px;
  padding-left: 8px;
}
.foot-help dl dd {
  padding-left: 10px;
  margin-top: 10px;
}
.foot-help dl dd a {
  display: block;
  line-height: 25px;
  color: #9c9c9c;
  font-size: 12px;
}
.foot-help dl.foot-sns {
  width: 250px;
  float: right;
}
.foot-help dl.foot-sns dt {
  width: 70px;
  height: 70px;
  float: left;
  background: url(../img/icon.png) no-repeat;
  background-position: -130px -282px;
  padding: 0;
}
.foot-help dl.foot-sns dd {
  padding: 0;
  margin: 0 0 0 75px;
}
.foot-help dl.foot-sns dd h4 {
  font-weight: normal;
  font-size: 14px;
}
.foot-help dl.foot-sns dd p {
  margin-top: 5px;
  line-height: 20px;
  color: #999;
  font-size: 12px
}
.foot-help dl.foot-sns dd.wblink {
  margin-left: 0;
  margin-top: 15px;
  position: relative;
}
.foot-help dl.foot-sns dd.wblink a {
  display: inline-block;
  margin: 0 5px;
}
.foot-help dl.foot-sns dd.wblink a i {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
}
.wblink a.xinlang i {
  background-position: -130px -36px;
}
.wblink a.tengxun i {
  background-position: -146px -36px;
}
.wblink a.weixin i {
  background-position: -128px -96px;
}
.foot-shop {
  height: 160px;
  background: #333;
}
.foot-shop a.turn_btn {
  font-size: 48px;
  font-family: "\5b8b\4f53";
  color: #fff;
  text-decoration: none;
  display: block;
  width: 30px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  margin-top: 50px;
}
.foot-shop a.turn_btn:hover {
  color: #4fb99f;
}
.shop_scollbox {
  width: 1100px;
  height: 160px;
  margin: 0 20px;
  overflow: hidden;
}
.shop_scollbox ul li {
  width: 340px;
  padding: 25px 13px;
  float: left;
}
.shop_scollbox ul li p {
  color: #fff;
  line-height: 25px;
  height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.shop_scollbox ul li a {
  margin: 15px 20px 0 0;
  color: #4fb99f;
  display: inline-block;
}
