.bottom {
    background: #f6f6f6
}

.foot_nav {
    height: 50px;
    line-height: 50px;
    text-shadow: 0 1px 0 #fff;
    text-align: center
}

.foot_nav i {
    margin: 0 15px;
    color: #ccc
}

.wrapper a {
    font-size: 12px;
    color: #333333
}
.wrapper a:hover{
    color: #999;
}

.copy {
    padding-bottom: 15px;
    text-align: center
}

.copy p {
    line-height: 25px;
    color: #999;
    text-shadow: 0 1px 0 #fff;
    font-size: 12px
}

.bot-link {
    text-align: center;
    height: 60px
}

.bot-link img {
    margin: 0px 5px 0px 5px
}