* {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  width: 1220px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo a {
  width: 160px;
  height: 100px;
}

.logo a img {
  width: 100px;
  margin-top: 20px;
}

.logo .trade-step {
  display: flex;
  text-align: center;
}

.logo .trade-step dl {
  width: 120px;
  height: 8px;
  background-color: #dfdfdf;
  position: relative;
  top: 30px;
}

.logo .trade-step dl dt {
  width: 24px;
  height: 24px;
  border: 1px solid #ccc;
  background: #dfdfdf;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  color: #000;
}

.logo .trade-step dl dd {
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: 12px;
  top: 24px;
  left: 0;
}

.logo .trade-step dl:nth-child(1) {
  color: #f21c1c;
  background: #f21c1c;
}

.logo .trade-step dl:nth-child(1) dt {
  background: #f21c1c;
  color: #fff;
}

.cart-box {
  width: 1200px;
  margin: auto;
}

.cart-box .cart-tab {
  height: 30px;
  line-height: 30px;
  border-bottom: 2px solid #dfdfdf;
}

.cart-box .cart-tab h6 {
  display: inline-block;
  font-size: 15px;
  padding: 0 5px;
  height: 30px;
  color: #f21c1c;
  border-bottom: 2px solid #f21c1c;
}

.cart-box .cart-title {
  display: flex;
  margin-top: 10px;
  padding: 5px 0;
  box-sizing: border-box;
  justify-content: space-between;
}

.cart-box .cart-title li {
  width: 166px;
  text-align: center;
}

.cart-box .cart-title li:nth-child(1) {
  width: 580px;
  text-align: left;
}

.cart-box .cart-item {
  border: 1px solid #dfdfdf;
  margin-top: 10px;
  padding: 15px 0;
  display: flex;
  font-size: 14px;
}

.cart-box .cart-item input {
  margin-left: 10px;
}

.cart-box .cart-item ul {
  display: flex;
}

.cart-box .cart-item ul li {
  width: 120px;
}

.cart-box .cart-item ul li img {
  width: 80px;
  height: 80px;
  border: 1px solid #eee;
  cursor: pointer;
}

.cart-box .cart-item ul li input {
  width: 32px;
  height: 22px;
  text-align: center;
}

.cart-box .cart-item ul li:nth-child(1) {
  width: 25px;
}

.cart-box .cart-item ul li:nth-child(1) .fx {
  margin-top: 30px;
  width: 16px;
  height: 16px;
}

.cart-box .cart-item ul li:nth-child(2) {
  margin-left: 30px;
  margin-right: 20px;
}

.cart-box .cart-item ul li:nth-child(3) {
  width: 400px;
  margin-right: 20px;
}

.cart-box .cart-item ul li:nth-child(3) span {
  display: block;
}

.cart-box .cart-item ul li:nth-child(3) span i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../img/baoxiu.png);
  background-size: 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.cart-box .cart-item ul li:nth-child(5) {
  width: 120px;
  margin-left: 25px;
}

.cart-box .cart-item ul li:nth-child(5) span {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #dfdfdf;
  vertical-align: middle;
  text-align: center;
  background: #f5f5f5;
  cursor: pointer;
}

.cart-box .cart-item ul li:nth-child(5) input {
  border: 1px solid #dfdfdf;
  margin: 0;
}

.cart-box .cart-item ul li:nth-child(6) {
  width: 120px;
  margin-left: 55px;
  color: #e73828;
}

.cart-box .cart-item ul li:nth-child(7) {
  text-align: center;
}

.cart-box .cart-item ul li:nth-child(7) a {
  color: #333;
  margin-left: 15px;
  margin-bottom: 5px;
}

.cart-box .cart-total {
  height: 50px;
  overflow: hidden;
  margin: 20px 0;
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  color: #333;
  font-size: 12px;
}

.cart-box .cart-total b {
  color: #e73828;
}

.cart-box .cart-total .cart-total-left {
  line-height: 50px;
}

.cart-box .cart-total .cart-total-left label {
  margin-left: 10px;
  margin-right: 10px;
}

.cart-box .cart-total .cart-total-right img {
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.cart-box .cart-total .cart-total-right span:nth-child(1) {
  margin-right: 20px;
}

.cart-box .cart-total .cart-total-right button {
  height: 50px;
  background: #e73828;
  color: #fff;
  padding: 0 25px;
  margin-left: 10px;
}

.Car_you {
  width: 1200px;
  margin: 20px auto;
  border: 1px solid #dfdfdf;
  text-align: center;
}

.Car_you h3 {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  font-weight: 500;
  border-bottom: 1px solid #dfdfdf;
  background: #f5f5f5;
}

.Car_you .cart-guess {
  width: 100%;
  padding: 0 40px 15px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

.Car_you .cart-guess li {
  width: 20%;
  padding: 10px;
}

.Car_you .cart-guess li img {
  width: 160px;
  height: 160px;
}

.Car_you .cart-guess li h4 {
  height: 36px;
  font-size: 12px;
  color: #333;
  font-weight: 500;
}

.Car_you .cart-guess li p {
  font-size: 12px;
}

.Car_you .cart-guess li p b {
  color: #e73828;
}

.Car_you .cart-guess li button {
  border: 0;
  width: 100px;
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
  background: #f21c1c;
  color: #fff;
  border-color: #f21c1c;
  border-radius: 3px;
}
