body{
  position: relative;
}
#head {
  margin-top: 30px;
  height: 145px;
  border-bottom: 2px solid #4fb99f;
}
#head .head_top {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  height: 100px;
  justify-content: space-between;
}
#head .head_bottom {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
#head .head_bottom .all_fen{
  position: absolute;
  top: 161px;
  left: 112px;
  /* height: 500px; */
}
#head .head_bottom .all_fen h4 {
  height: 45px;
  background: #4fb99f;
  color: #fff;
  width: 220px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15px;
  display: block;
  line-height: 45px;
}
#head .head_bottom .all_nav{
  width: 650px;
  line-height: 45px;
  display: flex;
  margin-left: 220px;
}
#head .head_bottom .all_nav li{
font-size: 16px;
    padding: 0 16px;
    height: 45px;
    display: block;
    line-height: 45px;
    white-space: nowrap;
    color: #333;
  }
  #head .head_bottom .all_nav li:hover{
    color:#4fb99f;
  }
#head .head_logo {
  width: 285px;
  display: flex;
}

.head-city {
  margin-left: 30px;
  padding-left: 30px;
  border-left: 1px solid #dfdfdf;
  height: 45px;
  width: 125px;
  display: block;
}
.city-pointer:after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 8px solid #f21c1c;
  border-left: 8px solid transparent;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  bottom: 2px;
}
.header-cart a span {
  padding: 0 3px;
  background: #4fb99f;
  color: #fff;
  height: 14px;
  line-height: 14px;
  border-radius: 14px;
  font-size: 12px;
}
#head .head_inp {
  width: 555px;
  margin-right: 62px;
}

#head .head_inp .inp_search {
  width: 100%;
  position: relative;
}

#head .head_inp .inp_search .inp_chaxun {
  border: 1px solid #f21c1c;
  width: 465px;
  outline: 0;
  padding: 0 10px;
  height: 34px;
}

#head .head_inp .inp_search .btn {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  color: #fff;
  float: left;
  width: 70px;
  height: 36px;
  line-height: 34px;
  cursor: pointer;
  font-size: 16px;
  background: #58bc58;
}

#head .head_inp .inp_text {
  line-height: 20px;
  font-size: 12px;
  color: #808080;
  height: 20px;
}

#head .head_inp .inp_text li {
  margin-right: 5px;
  float: left;
  /* max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}

#head .head_inp .inp_text li a {
  color: #9c9c9c;
}

.header-cart {
  width: 160px;
  float: right;
  position: relative;
}
.header-cart a {
  background: #fff;
  border: solid 1px #dfdfdf;
  color: #000;
  text-align: center;
  height: 38px;
  line-height: 38px;
  display: block;
  text-decoration: none;
  position: relative;
  z-index: 95;
}
.header-cart-box {
  width: 300px;
  height: 500px;
  background: #fff;
  position: absolute;
  top: 39px;
  right: 0;
  z-index: 94;
  border: solid 1px #dfdfdf;
  /* display: none; */
}
#head_nav{
  position: absolute;
  top: 208px;
  left: 112px;
  display: none;
  z-index: 999;
}
