#xq_main {
  width: 1200px;
  margin: 40px auto;
  display: flex;
  .main_fang {
    width: 460px;
  }
  .main_can {
    width: 740px;
    position: relative;
    h2 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .canshu {
      background-color: #f7f7f7;
      padding: 5px 0;
      position: relative;
      li {
        display: flex;
        font-size: 12px;
        line-height: 24px;
        margin: 10px 5px;
        span {
          width: 65px;
          margin-right: 10px;
          display: block;
          text-align: right;
        }
        i {
          font-size: 22px;
          color: #e73828;
          font-weight: bold;
        }
        em {
          margin-left: 5px;
        }
        a {
          margin-left: 10px;
        }
      }
      .ping {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        ul {
          display: flex;
          li {
            padding: 0 10px;
            border-right: 1px solid #ddd;
            text-align: center;
            display: flex;
            flex-direction: column;
            margin: 0;
            line-height: 18px;
          }
        }
      }
    }
    h3 {
      font-size: 12px;
      margin: 10px;
      display: flex;
      height: 36px;
      line-height: 36px;
      span {
        width: 65px;
        margin-right: 10px;
        display: block;
        text-align: right;
        display: flex;
        justify-content: space-between;
      }
      i {
        color: #4fb99f;
      }
      em {
        padding: 0 10px;
        display: block;
        min-height: 32px;
        min-width: 80px;
        text-align: center;
        border: 1px solid #ccc;
        cursor: pointer;
        background-color: #fff;
        margin-right: 10px;
      }
      .cut {
        border: 1px solid #f21c1c;
        color: #f21c1c;
      }
    }
    .main_btn {
      position: absolute;
      bottom: 90px;
      right: 50px;
      span {
        padding: 0 20px;
        height: 44px;
        font-size: 16px;
        line-height: 44px;
        cursor: pointer;
        display: inline-block;
      }
      .gwc {
        border: 1px solid #5dc800;
        color: #fff;
        background-color: #5dc800;
      }
      .lj {
        border: 1px solid #666;
        color: #333;
      }
    }
  }
}
#xq_renqi {
  border: 1px solid #dfdfdf;
  width: 1200px;
  margin: 10px auto;
  height: 280px;
  display: flex;
  .renqi_left {
    width: 170px;
    font-size: 12px;
    h4 {
      padding: 0 15px;
      line-height: 40px;
      height: 40px;
      background-color: #f7f7f7;
      border-bottom: 1px solid #505050;
    }
    dl {
      text-align: center;
      height: 198px;
      img {
        width: 160px;
        margin-top: 10px;
        height: 160px;
      }
      dd {
        margin-top: 10px;
      }
    }
  }
  .renqi_right {
    width: 1030px;
    ul {
      line-height: 40px;
      height: 40px;
      background-color: #f7f7f7;
      border-bottom: 1px solid #505050;
      font-size: 12px;
      display: flex;
      width: 100%;
      li {
        padding: 0 15px;
        cursor: pointer;
      }
      .cur2 {
        background-color: #505050;
        color: #fff;
      }
    }
    .renqi_main {
      width: 100%;
      height: 240px;
      .renqi_1 {
        display: none;
      }
      .cur3 {
        display: block;
      }
      ol {
        display: flex;
        width: 100%;
        li {
          width: 133px;
          margin: 10px 5px;
          dl {
            height: 185px;
            img {
              width: 120px;
              height: 120px;
              margin: 0 auto;
            }
            dd {
              p {
                height: 36px;
                overflow: hidden;
                line-height: 18px;
                font-size: 14px;
              }
              h4 {
                margin-top: 5px;
                label {
                  margin-left: 5px;
                  color: #e73828;
                }
              }
            }
          }
        }
      }
    }
  }
}
#xq_sqcanshu {
  width: 1200px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  .xq_left {
    width: 220px;
    .left_1 {
      border: 1px solid #dfdfdf;
      margin-bottom: 10px;
      padding-bottom: 10px;
      height: auto;
      width: 100%;
      .left_top {
        background: url(../img/jian.png);
        background-repeat: no-repeat;
        background-position: bottom;
        height: 48px;
        padding: 0 9px;
        line-height: 40px;
        h4 {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
    .left_main_1 {
      height: 28px;
      width: 100%;
      display: flex;
      font-size: 12px;
      span {
        line-height: 28px;
        width: 50%;
        text-align: center;
        display: inline-block;
      }
    }
    .left_main_2 {
      dl {
        border-bottom: 1px dashed #dfdfdf;
        padding: 10px 15px;
        img {
          width: 160px;
          height: 160px;
          margin: 0 auto;
        }
        dd {
          font-size: 12px;
          line-height: 30px;
          i {
            color: #e73828;
            font-weight: 700;
            font-size: 16px;
          }
          h3 {
            padding: 2px 5px;
            color: #fff;
            background: #4fb99f;
            display: inline-block;
          }
        }
      }
    }
  }
  .xq_right {
    width: 970px;
    .right_top {
      display: flex;
      width: 100%;
      background: #f7f7f7;
      border-bottom: 1px solid #505050;
      span {
        min-width: 80px;
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
        text-decoration: none;
      }
      .acitve {
        background-color: #505050;
        color: #fff;
        margin-top: -1px;
        border-bottom: 1px solid #505050;
      }
    }
    .gu{
      position: fixed;
      z-index: 1;
      top: 0;
    }
    .right_canshu {
      border: 1px solid #dfdfdf;
      .canshu_main {
        display: none;
        .details {
          border: 1px solid #dfdfdf;
          padding: 20px;
          line-height: 26px;
          background: #fafafa;
          margin-bottom: 20px;
          border-top: none;
          color: #333;
          display: flex;
          flex-wrap: wrap;
          h4 {
            width: 33.3%;
            display: flex;
            color: #333;
            line-height: 26px;
            font-size: 12px;
          }
        }
        .parameter {
          padding: 20px;
          h4 {
            color: #333;
            border-bottom: 1px dotted #dfdfdf;
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            line-height: 48px;
            span {
              text-align: right;
              width: 140px;
              padding: 0px 15px;
              display: block;
            }
            i {
              width: 728px;
              display: block;
              padding: 0px 15px;
            }
          }
          h6 {
            height: 44px;
            background: #eee;
            text-align: center;
            line-height: 44px;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
      .cur4 {
        display: block;
      }
    }
  }
}
