body, html {
  width: 100%;
  height: 100%;
}

#box {
  width: 100%;
  height: 100%;
}

#box .head {
  height: 50px;
  background: #2E363F;
  display: flex;
  align-items: center;
}

#box .head .logo {
  width: 53%;
}

#box .head .logo h1 {
  font-size: 24px;
  color: #8592dd;
  font-weight: bold;
  margin-left: 20px;
}

#box .head .app {
  flex: 1;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#box .head .app li {
  text-align: center;
  line-height: 50px;
  padding: 0px 10px;
  color: #ccc;
  font-size: 14px;
}

#box .head input {
  height: 30px;
  color: #fff;
}

#box .head .tex {
  width: 200px;
  background: #ccc;
  padding: 10px;
  font-size: 16px;
}

#box .head .btn {
  width: 30px;
  font-size: 12px;
  background: #13c362;
  margin-right: 20px;
  cursor: pointer;
}

#box .main {
  display: flex;
  height: calc(100% - 50px);
}

#box .main #left {
  width: 200px;
  height: 100%;
  background: #666666;
}

#box .main #left h1 {
  width: 100%;
  background: #666666;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: lighter;
  border-bottom: 1px solid #000;
  color: #939da8;
}

#box .main #left h2 {
  width: 100%;
  background: #8592dd;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: lighter;
  border-bottom: 1px solid #000;
  color: #fff;
}

#box .main #left ul {
  height: 0;
  overflow: hidden;
  background: #1e242b;
  color: #939da8;
  font-size: 12px;
}

#box .main #left ul li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

#box .main .right {
  width: calc(100% - 200px);
  height: 100%;
  background: #c8a9e5;
}
