#loginbar {
  width: 100%;
  height: auto;
  background: #3e3e3e;
  color: #fff;
  font-size: 14px;
}

#loginbar .logintop {
  width: 1200px;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}

#loginbar .logintop a {
  color: #fff;
}

#loginbar .logintop .login_left i {
  margin-right: 26px;
}

#loginbar .logintop .login_right {
  display: flex;
  justify-content: space-between;
  width: 450px;
  text-align: center;
}

#loginbar .logintop .login_right li {
  flex: 1;
}
